################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VC/.vs/cprime/v16
/VC/Debug
/VC/Release
/VC/x64/Debug
*.orig
/VC/printenum
/VC/.vs/cprime/config
